body {
    margin: 0;
    padding: 0;

    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: normal;
    font-weight: normal;
    color: #283136;

    background-color: #ffffff;
}

header {
    background-color: #eeeeee;
}

h1 {
    font-size: 55px;
    line-height: normal;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
    margin: 0;
}


h2 {
    font-size: 45px;
    line-height: normal;
    color: #000000;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.main-navigation {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    background-color: #eeeeee;
    text-transform: uppercase;
}

.site-navigation a {
    color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus,
a.basket:hover {
    color: #fb565a;
}

.basket {
    display: flex;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    color: #000000;
    text-transform: uppercase;
    height: 18px;
    max-width: 136px;
    padding-left: 45px;
    background-image: url("../img/svg-nerds/cart-icon.svg");
    background-repeat: no-repeat;
    margin-top: 30px;
    margin-left: 18px;

}

.basket::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
}


.site-navigation a:active,
a.basket:active {
    color: #cfcfcf;
    border-bottom: 2px solid #fb565a;
    padding-bottom: 10px;
}

.services-list,
.catalog-results,
.filters-option,
.sorting-option,
.projects-list,
.site-navigation,
.footer-socialm ul {
    list-style: none;
}

.services-list div {
    font-size: 16px;
    color: #283136;
    margin-bottom: 35px;
    margin-top: -17px;
    line-height: 1.5;

}

.services h4 {
    font-size: 24px;
    text-transform: uppercase;
    margin-top: 23px;
}

.services a {
    color: #000000;
}

.services-list li:first-child a.button,
.slider a,
.footer-contacts a.button,
.write-us button {
    color: #ffffff;
    background-color: #fb565a;
}

.services-list li:nth-child(2) a.button {
    color: #ffffff;
    background-color: #00ca74;
}

.services-list li:nth-child(3) a.button {
    color: #ffffff;
    background-color: #efc84a;
}

.services-list li:first-child a.button:hover,
.slider a:hover,
.footer-socialm a.button:hover {
    color: #ffffff;
    background-color: #e74246;
}

.services-list li:nth-child(2) a.button:hover {
    color: #ffffff;
    background-color: #00bc6c;
}

.services-list li:nth-child(3) a.button:hover {
    color: #ffffff;
    background-color: #eab534;
}

.services-list li:first-child a.button:active,
.slider a:active,
.footer-socialm a.button:active {
    color: #e26f72;
    background-color: #d7373b;
}

.services-list li:nth-child(2) a.button:active {
    color: #4dc491;
    background-color: #00aa62;
}

.services-list li:nth-child(3) a.button:active {
    color: #edc265;
    background-color: #e5a722;
}

a.main-header-logo:hover {
    opacity: .6;
}

.projects {
    margin-bottom: 83px;
}

.projects a,
a.main-header-logo:active {
    opacity: .2;
}

.projects a:hover,
a.main-header-logo {
    opacity: 1;
}

.projects a:active {
    opacity: .1;
}

.description-about b {
    font-size: 45px;
}

.description-about div,
.description-about ul {
    font-size: 16px;
    color: #283136;
}

.footer-contacts b,
.footer-contacts a.button,
.services-list a.button,
.slider a,
strong,
.write-us button,
legend,
.sorting-option-item {
    text-transform: uppercase;
}

.footer-contacts b,
legend {
    font-size: 18px;
}

legend {
   font-weight: bold;
}

.address {
    font-size: 16px;
    color: #666666;
}

.footer-socialm b {
    font-size: 36px;
    color: #000000;
}

.footer-socialm div {
    font-size: 16px;
    color: #444444;
}

.pagination-list {
    list-style: none;
    margin: 0;
    padding: 0;
    min-height: 50px;
}

.pagination-list a {
    color: #000000;
}

.pagination-list a:active {
    color: #959595;
}

.description-figures p {
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 16px;
}

.filter fieldset {
    border: none;
    padding-bottom: 60px;
}

.sorting-option-item {
    font-size: 14px;
    color: #b2b2b2;
    padding-right: 25px;
}

.sorting-option-item:hover {
    font-size: 14px;
    color: #666666;
}

.sorting-option-item:active {
    font-size: 14px;
    color: #000000;
}

.footer-socialm a {
    display: block;
    font-size: 0;
    background-color: #e1e1e1;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    /*padding-left: 27px;
    padding-right: 27px;
    padding-top: 33px;
    padding-bottom: 33px;*/
}


.footer-socialm li:nth-child(1) a {
    background-image: url("../img/vk-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-socialm li:nth-child(2) a {
    background-image: url("../img/fb-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.footer-socialm li:nth-child(3) a {
    background-image: url("../img/insta-icon.png");
    background-repeat: no-repeat;
    background-position: center center;
}

.slider a {
      display: block;
      border-radius: 5px;
      padding-left: 45px;
      padding-right: 45px;
      padding-top: 17px;
      padding-bottom: 17px;
      width: 150px;
      margin-top: 5px;
      text-align: center;
}

.services-list a.button {
    display:block;
    border-radius: 5px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 80px;
}

.catalog-results-item .button {
    display:block;
    background-color: #fb565a;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 200px;
    color: #ffffff;
}

.catalog-results-item a.button:hover {
    background-color: #e74246;
}

.catalog-results-item a.button:active {
    background-color: #d7373b;
}

.footer-contacts a.button {
    display: block;
    border-radius: 5px;
    padding-left: 45px;
    padding-right: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 130px;
    margin-top: -10px;
}

.write-us button {
    display: block;
    width: 260px;
    height: 50px;
    border-radius: 5px;
    padding-top: 15px;
    padding-bottom: 20px;
    margin-top: 35px;
}

form button {
    display:block;
    border-radius: 5px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 260px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #eeeeee;
}

form button:hover,
.pagination-item:hover,
.pagination-next:hover {
    background-color: #dfdfdf;
}

form button:active,
.pagination-item:active,
.pagination-next:active {
    background-color: #d5d5d5;
    color: #959595;
}

.pagination-item {
    display:block;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    padding-right: 17px;
    padding-left: 17px;
    padding-top: 17px;
    padding-bottom: 17px;
    font-weight: bold;
    background-color: #eeeeee;
    margin-left: 10px;

}

.pagination-next {
    display:block;
    width: 100px;
    border-radius: 3px;
    padding-top: 18px;
    padding-bottom: 18px;
    padding-left: 80px;
    padding-right: 80px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    background-color: #eeeeee;
    margin-left: 10px;
}

.pagination-item-current {
    display:block;
    text-align: center;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 20px;
    height: 20px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #ffffff;
    border-color: #eeeeee;
    border-width: 3px;
    border-radius: 5px;
    border-style: solid;
}

.catalog-results-item-price {
    display: block;
    width: 275px;
    height: 130px;
    text-align: center;
    background-color: #eeeeee;
    padding: 15px 45px 95px 45px;
}

.catalog-results-item-price .button {
    margin: auto;
    margin-top: 30px;
}

input[type="checkbox"] {
    display:none;
}

input[type="checkbox"] + label::before {
    content: "";
    display: inline-block;
    height: 23px;
    width: 27px;
    margin: 0 5px 0 0;
    background-image: url('../img/checkbox-off-p.png');
    background-repeat: no-repeat;
}

input[type="checkbox"]:checked + label::before {
    background-image: url('../img/checkbox-on-p.png');
}

input[type="checkbox"]:hover + label::before,
input[type="checkbox"] + label::before:hover {
     background-image: url('../img/svg-nerds/checkbox-off.svg');
     color: #283136;
}

input[type="checkbox"]:checked:hover + label::before,
input[type="checkbox"]:checked + label::before:hover {
     background-image: url('../img/svg-nerds/checkbox-on.svg');
     color: #283136;
}


input[type="radio"] {
    display:none;
}

input[type="radio"] + label::before {
    content: "";
    display: inline-block;
    height: 25px;
    width: 25px;
    margin: 0 5px 0 0;
    background-image: url('../img/svg-nerds/radio-off.svg');
    background-repeat: no-repeat;
}

input[type="radio"]:checked + label::before {
    background-image: url('../img/svg-nerds/radio-on.svg');
}

.figures td {
    font-size: 45px;
    font-weight: bold;
    padding-top: 38px;
    padding-right: 11px;
    padding-bottom: 27px;
}

.figures-names td {
    color: #283136;
    text-align: justify;
}

.description-figures p {
    margin-top: 40px;
}


/*сетка*/

.container {
    width: 1160px;
    margin: 0 auto;
}

.main-navigation {
    min-height: 100px;
    display: flex;
    flex-direction: row;
    align-content: space-between;
    padding: 50px 0 35px 0;
}

.main-header-logo {
    min-height: 65px;
    width: 160px;
    height: 65px;
    margin: 0;
    padding: 0;
}

.site-navigation {
    min-height: 40px;
    width: 500px;
    list-style: none;
    margin-top: 30px;
    margin-left: 200px;
    margin-right: 165px;
}

.site-navigation li {
    display: inline;
    margin-right: 45px;
}

/*.slider {
    position: relative;
    width: 1160px;
    height: 430px;
    margin: 0 auto;
    top: -28px;
    right: -4px;
}*/

.background-slid {
    background-color: #eeeeee;
    height: 360px;
    margin-bottom: 80px;
}

.slider-controls {
    position: absolute;
    width: 160px;
    height: 20px;
    bottom: -305px;
    left: 50%;
    margin-left: -80px;
    text-align: center;
    z-index: 1000;
}

.slider-controls label {
    width: 8px;
    height: 8px;
    border: 4px solid white;
    margin: 8px;
    background: white;
    border-radius: 50%;
    vertical-align: top;
    cursor: pointer;
    display: inline-block;
    margin-top: -38px;
    margin-left: 4px;
}


.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 431px;
    overflow: hidden;
    display: none;
}

.slide-text {
    width: 530px;
    padding: 30px 0;
    color: #424a4f;
}

.slide-title {
    font-size: 55px;
    line-height: 1;
    font-weight: 500;
    color: #000000;
    /*margin-top: 77px;*/
    margin-top: 48px
}

.slide-title:nth-child(3) {
    margin-top: 51px;
}

.slide-text::nth-child(3) p {
    margin-top: 30px;
    margin-bottom: 45px;
}




.slide:nth-child(1) {
    background-image: url("../img/nerds-index-slide1.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -70px;
    margin-left: -4px;
}

.slide:nth-child(2) {
    background-image: url("../img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -71px;
    margin-left: -3px;
}

.slide:nth-child(3) {
    background-image: url("../img/nerds-index-slide3.png");
    background-repeat: no-repeat;
    background-position: right;
    margin-top: -71px;
    margin-left: -3px;
}

#btn-1:checked ~ .slider-controls label[for="btn-1"],
#btn-2:checked ~ .slider-controls label[for="btn-2"],
#btn-3:checked ~ .slider-controls label[for="btn-3"] {
    background: #c1c1c1;
}

.slider input[type="radio"] {
    position: absolute;
    opacity: 1;
}

#btn-1:checked ~ .slides .slide:nth-child(1) {
    display: block;
}

#btn-2:checked ~ .slides .slide:nth-child(2) {
    display: block;
}

#btn-3:checked ~ .slides .slide:nth-child(3) {
    display: block;
}




/*
.slide {
    display: none;
}*/

/*
.wrapper {
    height: 430px;
    width: 1160px;;
    margin: 0;
    position: relative;
}

.sliders {
	  height: inherit;
	  overflow: hidden;
	  position: relative;
	  width: inherit;
}

.slides {
	  height: inherit;
	  opacity: 0;
	  position: relative;
	  width: inherit;
	  z-index: 0;
	  transform: scale(1.5);
	  transition: transform ease-in-out .5s, opacity ease-in-out .5s;
}

.slide1 {
    background-image: url("../img/nerds-index-slide1.png");
    background-repeat: no-repeat;
    background-position: right;
  }

.slide2 {
    background-image: url("../img/nerds-index-slide2.png");
    background-repeat: no-repeat;
    background-position: right;
}

.slide3 {
    background-image: url("../img/nerds-index-slide3.png");
    background-repeat: no-repeat;
    background-position: right;
}

#slide1:checked ~ .sliders > .slide1,
#slide2:checked ~ .sliders > .slide2,
#slide3:checked ~ .sliders > .slide3 {
	  opacity: 1;
	  z-index: 1;
	  transform: scale(1);
}

.wrapper .controls {
	  left: 50%;
	  position: absolute;
}

.wrapper label {
	  cursor: pointer;
	  display: inline-block;
	  height: 8px;
	  margin: 25px 12px 0 16px;
	  position: relative;
	  width: 8px;
    border-radius: 50%;
    transition: background ease-in-out .5s;
}

.wrapper label:hover,
#slide1:checked ~ .controls label:nth-of-type(1),
#slide2:checked ~ .controls label:nth-of-type(2),
#slide3:checked ~ .controls label:nth-of-type(3) {
    background: #c1c1c1;
}

.wrapper label:after {
    border: 2px solid #c1c1c1;
    content: "";
	  display: block;
	  height: 18px;
	  left: -5px;
	  position: absolute;
	  top: -5px;
	  width: 18px;
    border-radius: 50%;
}*/

.services {
    margin-bottom: 59px;
}

.services-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style: none;
    min-height: 380px;
    margin-bottom: 57px;
    max-width: 1160px;
}

.services-list-item {
    min-height: 345px;
    width: 300px;
    margin-right: 60px;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.description-about {
    display: block;
    min-height: 460px;
    width: 660px;
}


.description-figures {
    margin-top: -29px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-height: 460px;
    max-width: 360px;
    line-height: 20px;
}

.description-about div {
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 1.5;
}


.projects-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1100px;
    padding-top: 56px;
    padding-bottom: 29px;
}


.footer-socialm {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    width: 950px;
    margin-left: -145px;
    margin-top: -307px;
}


.footer-socialm ul {
    display: inline-flex;
    margin-top: 60px;
    margin-right: 140px;
    margin-bottom: 70px;
    margin-left: 140px;
}

.footer-socialm li {
    padding: 5px;
}
/*
.footer-socialm li:nth-child(1) {
    margin-left: -25px;
}

.footer-socialm li:nth-child(2) {
    margin-left: 15px;
}

.footer-socialm li:nth-child(3) {
    margin-left: 10px;
}*/

.footer-socialm div p {
    margin-top: 8px;
}


.footer-socialm div {
    display: inline-flex;
    flex-direction: column;
    margin-top: 67px;
    min-width: 546px;
    margin-left: -5px;

}


/*сетка2*/

header h1 {
    text-align: center;
    min-height: 173px;
    margin: 0;
    padding-left: 0;
}

.filters {
    min-height: 777px;
    width: 262px;
}

.catalog-results-item {
    min-height: 616px;
    width: 360px;
    margin: 0;
    padding: 0;
}

.catalog-results li:nth-child(odd) {
    padding-right: 40px;
}


.catalog-results-item div {

}

.catalog-results {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    min-height: 1993px;
    width: 760px;
    margin-top: -25px;
}


.catalog-columns {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.filter-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 55px;
    margin-left: -13px;
}

.filters-option {
    display: block;
    padding-top: 22px;
}


.pagination-list {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -3px;
    margin-left: -10px;
}

.range-filter {
    width: 260px;
    margin-top: 45px;
}

.range-controls {
    position: relative;
    height: 80px;
    margin-bottom: 15px;
    padding: 0 30px;
    background: #eeeeee;
    border-radius: 5px;
    overflow: hidden;
}

.range-controls .scale {
    background-color: #d7dcde;
    height: 2px;
    width: 222px;
    margin-top: 39px;
}

.range-controls .bar {
    height: 2px;
    background: #00ca74;
}

.range-controls .toggle {
    width: 4px;
    height: 4px;
    border: 8px solid white;
    background: #ababab;
    position: absolute;
    top: 30px;
    left: 30px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 1px 0 #cfcfcf;
}

.range-controls .max-toggle {
    left: 145px;
}

.price-controls input {
    width: 60px;
    padding: 8px 10px;
    margin: 0 32px 0 10px;
    border: none;
    background: #eeeeee;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: normal;
    text-align: center;
    color: #353e42;
    border-radius: 5px;
}

.price-controls {
    white-space: nowrap;
}

.sorting-option {
    display: inline-flex;
    flex-direction: row;
    justify-content: flex-start;
    margin-top: 58px;
    margin-bottom: 80px;
    margin-left: 266px;
}

.map {
    display: block;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}


.footer-contacts {
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      background-color: white;
      width: 220px;
      height: 208px;
      z-index: 2;
      top: -365px;
      left: 340px;
      padding: 53px 60px 47px 50px;
}


.visually-hidden {
    display: none;
}

.pagination {
    padding-bottom: 50px;
    margin-top: 30px;
    margin-left: 10px;
}

.slide-text p {
    margin-top: 30px;
    margin-bottom: 42px;
}

.divider {
    color: #f4f4f4;
    border: none;
    background-color: #f4f4f4;
    height: 2px;
    margin: 0;
}

.description-about ul {
    line-height: 3;
    padding-top: 17px;
    list-style-type: none;
}

.description-about li:before {
    display: inline-block;
    width: 25px;
    height: 2px;
    background-color: #fb565a;
    content: "";
    margin: 0px 11px 4px 3px;
}


.projects-list li:nth-child(3) {
    margin-top: 3px;
    margin-right: 59px;
}

.projects-list li:nth-child(1) {
    margin-right: 47px;
    padding-left: 30px;
}

.projects-list li:nth-child(2) {
    margin-top: -16px;
    margin-right: 50px;
}

.background-nav {
    width: 1160px;
    background-color: #eeeeee;
}

.sorting strong {
    font-size: 18px;
}

.filter button {
    color: #000000;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    margin-top: -30px;
    margin-left: 15px;
}

.write-us {
    display: flex;
    flex-direction: column;
    position: absolute;
    background-color: white;
    padding: 70px 60px 60px 100px;
    display: none;
}

.write-us-inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 800px;
    margin-top: 25px;
}

.write-us span {
    font-size: 45px;
    font-family: "Roboto", sans-serif;
    margin-top: -45px;
}

.write-us p {
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}

.write-us .Name input {
    display: block;
    width: 360px;
    height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    margin-right: 40px;
    color: #aeaeae;
}

.write-us .Name input:hover,
.write-us .Email input:hover,
.write-us .Text input:hover  {
    border-color: #b4b9bb;
}

.write-us .Name input:focus,
.write-us .Email input:focus,
.write-us .Text input:focus {
    border-color: #000000;
    outline: none;
}


.write-us .Email input {
    display: block;
    width: 355px;
    height: 50px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    color: #aeaeae;
}

.write-us .Text input {
    display: block;
    width: 760px;
    height: 115px;
    border: 2px solid #d7dcde;
    border-radius: 3px;
    color: #aeaeae;
}

.container-slider {
    position: relative;
}

.write-us a {
    display: block;
    position: absolute;
    background-image: url("../img/eas-close-cross.png");
    background-repeat: no-repeat;
    width: 21px;
    height: 21px;
    margin-left: 740px;
    margin-top: -430px;
}

.write-us a:hover {
    background-image: url("../img/svg-nerds/close-cross.svg");
}

.write-us a:active {
    background-image: url("../img/active-close-cross.png")
}

.filters-option-spec {
    padding: 5px 0 4px 0;
}

.browser {
    display: block;
    background-image: url("../img/eas-browser.png");
}

.browser:hover {
    background-image: url("../img/svg-nerds/browser.svg");
    background-repeat: no-repeat;
}

.show {
    display: block;
    position: fixed;
    top: 30%;
    left: 30%;
    margin-bottom:
    z-index: 10;
}

.catalog-results-item-price {
    display: block;
    visibility: hidden;
    position: absolute;
}

.catalog-results-item-price:hover {
    display: block;
    visibility: visible;
    position: absolute;
}

.down path:hover {
    fill: #a6a6a6;
}

.up path:hover {
    fill: #a6a6a6;
}

.down path:active {
    fill: #231f20;
}

.up path:active {
    fill: #231f20;
}
